<form #rentalInfo ="ngForm" (ngSubmit) = "onClickSubmit(rentalInfo.value)">        
    <h3>Income</h3>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="grossMonthlyRent">Total Gross Monthly Rent</label>
            <input [(ngModel)]="grossMonthlyRent"   type="text" class="form-control" name="grossMonthlyRent" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="otherMontlyIncome">Other Monthly Income</label>
            <input [(ngModel)]="otherMontlyIncome"   type="text" class="form-control" name="otherMontlyIncome" placeholder="00">
        </div>
    </div>


    <h3>Fixed Landloard-Paid Expenses</h3>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="electricity">Electricity</label>
            <input [(ngModel)]="electricity"   type="text" class="form-control" name="electricity" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="waterAndSewer">Water & Sewer</label>
            <input [(ngModel)]="waterAndSewer"   type="text" class="form-control" name="waterAndSewer" placeholder="00">
        </div>


        <div class="form-group">
            <label for="pmi">PMI</label>
            <input [(ngModel)]="pmi"   type="text" class="form-control" name="pmi" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="garbage">Garbage</label>
            <input [(ngModel)]="garbage"   type="text" class="form-control" name="garbage" placeholder="00">
        </div>


        <div class="form-group">
            <label for="lawnMaintainance">Lawn Maintainance per Month</label>
            <input [(ngModel)]="lawnMaintainance" type="text" class="form-control" name="lawnMaintainance" placeholder="0.00"> 
        </div>
        <div class="form-group">
            <label for="snowRemovalPerMonth">Snow Removal per Month</label>
            <input [(ngModel)]="snowRemovalPerMonth"   type="text" class="form-control" name="snowRemovalPerMonth" placeholder="00">
        </div>


        <div class="form-group">
            <label for="hoas">HOAs</label>
            <input [(ngModel)]="hoas" type="text" class="form-control" name="hoas" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="montlyInsurance">Montly Insurance</label>
            <input [(ngModel)]="montlyInsurance"   type="text" class="form-control" name="montlyInsurance" placeholder="00">
        </div>


        <div class="form-group">
            <label for="propertyTaxes">Property Taxes</label>
            <input [(ngModel)]="propertyTaxes"   type="text" class="form-control" name="propertyTaxes" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="otherMontlyExpenses">Other Montly Expenses</label>
            <input [(ngModel)]="otherMontlyExpenses" type="text" class="form-control" name="otherMontlyExpenses" placeholder="00">
        </div>
    </div>


    <h3>Variable Landloard-Paid Expenses</h3>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="vacancy">Vacancy (%)</label>
            <input [(ngModel)]="vacancy"   type="text" class="form-control" name="vacancy" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="repairsAndMaintenance">Repairs and maintenance (%)</label>
            <input [(ngModel)]="repairsAndMaintenance"   type="text" class="form-control" name="repairsAndMaintenance" placeholder="00">
        </div>

        <div class="form-group">
            <label for="capitalExpenditure">Capital Expenditures (%)</label>
            <input [(ngModel)]="capitalExpenditure"   type="text" class="form-control" name="capitalExpenditure" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="managementFees">Management Fees (%)</label>
            <input [(ngModel)]="managementFees"   type="text" class="form-control" name="managementFees" placeholder="00">
        </div>

        <div class="form-group">
            <label for="vacancy">Vacancy (%)</label>
            <input [(ngModel)]="vacancy" type="text" class="form-control" name="vacancy" placeholder="0.00">
        </div>
    </div>



    <h3>Future Assumptions</h3>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="annualIncomGrowthPercent">Annual Income Growth (%)</label>
            <input [(ngModel)]="annualIncomGrowthPercent"   type="text" class="form-control" name="annualIncomGrowthPercent"  placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="annualPropertyValueGrowthPercent">Annual Property Value Growth (%)</label>
            <input [(ngModel)]="annualPropertyValueGrowthPercent"   type="text" class="form-control" name="annualPropertyValueGrowthPercent" placeholder="00">
        </div>

        <div class="form-group">
            <label for="annualExpenseGrowth">Annual Expenses Growth (%)</label>
            <input [(ngModel)]="annualExpenseGrowth"   type="text" class="form-control" name="annualExpenseGrowth" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="salesExpensesPercentage">Sales Expenses (%)</label>
            <input [(ngModel)]="salesExpensesPercentage"   type="text" class="form-control" name="salesExpensesPercentage" placeholder="00">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <a routerLink="/calculators/brrrr/purchase-info"><button type="button" class="btn btn-secondary">Previous Step </button></a>
        </div>
        <div class="col-sm-3 text-right">
            <!-- <a routerLink="/calculators/brrrr/purchase-info"> -->
                <button type="submit" class="btn btn-primary">Calculate Results</button>
            <!-- </a> -->
        </div>
    </div>
</form>