<div class="brrrr-component">
    <div class="row">
        <div class="col-12 text-center">
            <!-- <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/calculators/brrrr/property-info"> Property Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Purchase Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rental Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Results</a>
                        </li>
                    </ul> -->

            <!-- <a class="nav-link active" routerLink="/calculators/brrrr/property-info">
                        <button type="button" class="btn btn-primary">Create New</button>
                    </a> -->
            <h1>BRRRR Calculator</h1>
        </div>
    </div>
    <router-outlet>
    </router-outlet>
</div>