<div class="row">
    <div class="col-12">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Property Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Purchase Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Rental Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Results</a>
            </li>
        </ul>
    </div>
</div>
<div class="brrrr-component">
    <router-outlet>
    </router-outlet>
</div>